<div class="pokedex">
    <div class="left">
        @if(currentPokemon){
            <h2>{{currentPokemon.id}} : {{currentPokemon.name}}</h2>
            <img [src]="currentPokemon.imageUrl">
            <p>Taille : {{currentPokemon.height}}</p>
            <p>Poids : {{currentPokemon.weight}}</p>
        }@else {
            <h2>Pas de pokemon</h2>
        }
    </div>
    <div class="right">
        <ul>
            @for (p of pokemonResult.results; track $index) {
                <li (click)="getOne(p.url)">
                    <img [src]="p.imgUrl">
                    <p>{{p.name}}</p>
                </li>
            }
        </ul>
        <div class="buttons">
            <button (click)="previous()">⬅️</button>
            <button (click)="next()">➡️</button>
        </div>
    </div>
</div>
