<ul>
    <li>
        <a routerLink="/home">Acceuil</a>
    </li>
    <li>
        <a routerLink="/demo">Demos</a>
        <ul>
            <li>
                <a routerLink="/demo/demo01">Demo Bindings</a>
            </li>
            <li>
                <a routerLink="/demo/demo02">Demo pipe</a>
            </li>
        </ul>
    </li>
    <li>
        <a>Exo</a>
        <ul>
            <li>
                <a routerLink="/exo/exo01">Exo Timer</a>
            </li>
        </ul>
    </li>
</ul>
